body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: blue;
}

.loader-wrapper {
  background-color: red;
}

.loader-wrapper--spinner {
  background-color: aqua;
}

p {
  background-color: chartreuse;
}
