body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.loader-wrapper {
  background-color: red;
  text-align: center;
}

.loader-wrapper--spinner {
  background-color: aqua;
  width: 40px;
  height: 40px;
  border: 4px solid black;
  border-top: 4px solid transparent;
}

p {
  background-color: chartreuse;
}
