body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21295c;
  color: #fff;
}

.loader-wrapper {
  text-align: center;
}

.loader-wrapper--spinner {
  width: 40px;
  height: 40px;
  border: 4px solid black;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 1rem;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
