*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* My project colours to use */
  --primary-color: #21295c;
  --secondary-color: #ffffff;

  /* My font size to use */
  --font-base: 16px;
}
