*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* My project colours to use */
  --primary-color: #21295c;
  --secondary-color: #ffffff;

  /* My font size to use */
  --font-base: 16px;

  /* My spaces to use */
}

html {
  font-size: var(--font-base);
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: red;
  max-width: 100vw;
  max-height: 100vh;
}

.body__todo-wrapper header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: blue;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  gap: 2rem;
  width: 100vw;
  max-width: 100vw;
}

.todo-history {
  position: relative;
  background-color: orange;
}

.ri-close-line {
  position: absolute;
  left: 4rem;
  color: aqua;
}

.todo-history__icon {
  display: flex;
  background-color: #21295c;
}

.todo-title {
  background-color: purple;
}

.todo-add-task {
  background-color: aqua;
}

.task-list {
  background-color: chartreuse;
}

.ol__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  background-color: crimson;
}
