*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* My project colours to use */
  --primary-color: #21295c;
  --secondary-color: #ffffff;

  /* My font size to use */
  --font-base: 16px;

  /* My spaces to use */
}

html {
  font-size: var(--font-base);
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: red;
  max-width: 100vw;
  max-height: 100vh;
}

.body__todo-wrapper header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: blue;
}

.body__todo-wrapper header button {
  padding: 1rem;
}

.body__todo-wrapper head button i {
  font-size: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  gap: 2rem;
  margin: 5rem 0;
  width: 100vw;
  max-width: 100vw;
}

.todo-history {
  width: 80vw;
  position: relative;
  background-color: orange;
}

.todo-history div h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.todo-history__icon {
  display: flex;
  background-color: #21295c;
}

.todo-history__icon div input {
  width: 70vw;
  padding: 0.5rem;
}

#cancel-search-button {
  position: relative;
  right: 2rem;
  color: aqua;
}

#search-button {
  margin-left: -1.5rem;
  padding: 0.5rem;
}

.ul__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 70vw;
  background-color: pink;
}
.ul__list li {
  width: 50vw;
  max-width: 50vw;
  background-color: red;
}

.todo-title {
  background-color: purple;
}

.todo-add-task {
  width: 80vw;
  background-color: aqua;
}

.To-Do__create {
  max-width: 100vw;
  background-color: khaki;
}

.To-Do__create input {
  width: 67vw;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.To-Do__create button {
  margin-left: -0.5rem;
  padding: 0.5rem 0.8rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.task-list {
  background-color: chartreuse;
}

.ol__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 70vw;
  background-color: crimson;
}

.ol__list li {
  width: 50vw;
  max-width: 50vw;
  background-color: red;
}

footer div {
  text-align: center;
  background-color: gold;
}
