*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* My project colours to use */
  --primary-color: #21295c;
  --secondary-color: #ffffff;

  /* Color for light background */
  --light-primary-color: #83bdf7;
  --light-secondary-color: var(--primary-color);

  /* Overlay background color */
  --overlay-background: var(--primary-color);

  /* My font size to use */
  --font-base: 16px;

  /* My spaces to use */
}

html {
  font-size: var(--font-base);
}

body {
  font-family: "Quicksand", sans-serif;
  max-width: 100%;
  width: 100vw;
  max-height: 100vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body.light-theme {
  background-color: var(--light-primary-color);
  color: var(--light-secondary-color);
  /* Overlay background color */
  --overlay-background: var(--light-primary-color);
}

h2,
h3,
h6 {
  font-family: "Montserrat", sans-serif;
}

button {
  border: none;
  background: none;
  color: var(--secondary-color);
}

input[type="checkbox"] {
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-color: white;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  font-size: 0.7rem;
}

input[type="checkbox"]:checked::before {
  content: "\EB7B";
  font-family: remixicon;
  position: absolute;
  font-size: 0.7rem;
  font-weight: bolder;
  color: var(--primary-color);
}

body.light-theme button {
  color: var(--light-secondary-color);
}

.body__todo-wrapper header {
  display: flex;
  justify-content: end;
  align-items: center;
}

.body__todo-wrapper header button {
  padding: 1rem;
}

.body__todo-wrapper header button i {
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  max-width: 100vw;
  position: relative;
}

.todo-history {
  visibility: hidden;
  width: 90vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100px);
  transition: all 2s ease;
  z-index: 999;
  background-color: red;
}

.todo-history.show-menu {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  /* background-color: var(--overlay-background); */
}

.todo-history div h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.todo-history__icon {
  display: flex;
}

.todo-history__icon div input {
  width: 70vw;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-family: "Quicksand", sans-serif;
  color: var(--primary-color);
}

#cancel-search-button {
  position: relative;
  right: 2rem;
}

#cancel-search-button i {
  color: var(--primary-color);
}

#search-button {
  margin-left: -1rem;
  padding: 0.5rem;
}

.ul__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 70vw;
}

.ul__list li {
  width: 50vw;
  max-width: 50vw;
}

.todo-add-task {
  width: 80vw;
}

.To-Do__create {
  max-width: 100vw;
}

.To-Do__create input {
  width: 67vw;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-family: "Quicksand", sans-serif;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: var(--primary-color);
}

.To-Do__create input[type="text"]::placeholder {
  font-family: "Quicksand", sans-serif;
}

.To-Do__create button {
  margin-left: -0.5rem;
  padding: 0.52rem 0.8rem;
  font-family: "Montserrat", sans-serif;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #010a3f;
}

body.light-theme .To-Do__create button {
  background-color: #1c6cbb;
  color: white;
}

.ol__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 70vw;
}

.ol__list li {
  width: 50vw;
  max-width: 50vw;
}

footer div {
  text-align: center;
}
